.ability {
	overflow: hidden;
    padding: 80px 0;
    display: block;
    background-color: #f9f9f9;
}

.container {
	overflow: hidden;
	width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 1200px) {
		.container {
    max-width: 1440px;
}
}

@media (max-width: 1199px) {
		.container {
    max-width: 960px;
}
}

@media (max-width: 768px) {
		.container {
    max-width: 720px;
}
}


@media (max-width: 576px) {
		.container {
    max-width: 540px;
}
}

.wrappedheader {
	justify-content: center !important;
    -webkit-box-pack: center !important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.header {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
}

@media (min-width: 992px) {
		.header {
  		 flex: 0 0 50%;
    	max-width: 50%;
    	-webkit-box-flex: 0;
}
}

.headerblock {
	display: block;
}

.headerblock h3 {
	position: relative;
    margin-bottom: 60px;
    color: #3f3f3f;
    font-weight: 100;
    font-size: calc(30px + 11 * ((100vw - 320px) / 1440));
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px 6px rgb(63 63 63 / 30%);
}

.headerblock h3::before {
	content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 100px;
    height: 1px;
    background: radial-gradient(closest-side, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0));
    transform: translate(-50%, 0);
}

.headerblock h3::after {
	content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 150px;
    height: 1px;
    background: radial-gradient(closest-side, #fc6076, rgba(63, 63, 63, 0));
    transform: translate(-50%, 0);
}

.headerblock h3 span {
	color: #fc6076;
    font-weight: 600;
    text-shadow: 0 2px 6px rgb(252 96 118 / 30%);
    font-size: calc(30px + 11 * ((100vw - 320px) / 1440));
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.textcenter {
	margin-bottom: 50px;
	text-align: center;
}

.wrappedblock {
	display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.block {
	flex: 0 0 33.333333%;
    max-width: 33.333333%;
    -webkit-box-flex: 0;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    display: block;
}

.blockend {
	flex: 0 0 66.66666%;
    max-width: 66.66666%;
    -webkit-box-flex: 0;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    display: block;
}


@media (max-width: 1199px) {
		.block {
  		flex: 0 0 50%;
    	max-width: 50%;
   		 -webkit-box-flex: 0;
}

    .blockend {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
		.block {
  		flex: 0 0 100%;
    	max-width: 100%;
}

    .image svg {
        font-size: 14px;
    }

    .imageend {
        margin-left: 0px!important;
    }

    .imageend svg{
        margin-right: 2px!important;
        font-size: 32px!important;
    }
}

.serv {
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    transform: translate(0, 0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: start;
    display: block;
}

.serv::before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 6px;
        background: linear-gradient(
90deg
, #ff9a44 0%, #fc6076 100%);
            box-shadow: 0 3px 10px rgb(252 96 118 / 50%);
            transition: all 0.3s ease;
    opacity: 0;
}

.image {
    width: 200px;
    -webkit-box-flex: 0;
    display: block;
}

.imageend {
    width: 750px;
    -webkit-box-flex: 0;
    display: block;
    margin-left: 36px;
}

.imageend svg {
	font-size: 42px;
	margin-right: 36px;
}




.image svg {
	font-size: 42px;
	margin-right: 9px;
}

.image1 {
    width: 200px;
    -webkit-box-flex: 0;
    display: block;
}

.image1 svg {
	font-size: 48px;
	margin-right: 9px;
}


.description {
	display: block;
}

.serv:hover  .itemdesctitle {
    color: #fff;
}

.serv:hover  .itemdesctitleend {
    color: #fff;
}

.serv:hover .mainbutton {
    border: #fff 2px solid;
    color: #fff;
}


.serv:hover {
	  background: linear-gradient(90deg, #ff9a44 0%, #fc6076 100%);
	  box-shadow: 0 3px 10px rgba(252, 96, 118, 0.5);
	  transition: all 0.3s ease-in;
}

.serv:hover {
    color: #fff;
}

.itemdesctitleend {
	margin: 20px 0;
    color: #3f3f3f;
    font-weight: 700;
    font-size: calc(20px + 4 * ((100vw - 320px) / 1440));
    transition: all 0.3s ease;
    display: block;
    margin-left: 36px;
}

.itemdesctextend {
    font-weight: 300;
    transition: all 0.3s ease;
    font-size: calc(17px + 1 * ((100vw - 320px) / 1440));
    font-family: "Nunito", sans-serif;
    line-height: 28px;
    margin-left: 36px;
}

.itemdesctitle {
	margin: 20px 0;
    color: #3f3f3f;
    font-weight: 700;
    font-size: calc(20px + 4 * ((100vw - 320px) / 1440));
    transition: all 0.3s ease;
    display: block;

}

.itemdesctext {
    font-weight: 300;
    transition: all 0.3s ease;
    font-size: calc(17px + 1 * ((100vw - 320px) / 1440));
    font-family: "Nunito", sans-serif;
    line-height: 28px;
    padding-bottom: 9px;
}


.formera {
	background-color: transparent;
	color: #3f3f3f;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 400;
    font-size: calc(17px + 1 * ((100vw - 320px) / 1440));
    font-family: "Nunito", sans-serif;
    line-height: 28px;
}

.hey {
    display: flex;
    justify-content: center;
}

.mainbutton {
    background: transparent;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #202120;
    text-transform: uppercase;
    transition: all 0.3s ease-out 0s;
    padding: 0px;
    position: relative;
    height: 45px;
    border: 2px solid #202120;
    width: 150px;
    text-align: center;
    line-height: 42px;
}

.mainbutton::before {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    height: 2px;
    content: '';
    background-color: #fc6076;
}

.mainbutton::after {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 2px;
    height: 10px;
    content: '';
    background-color: #fc6076;
    transition: all 0.3s ease-out 0s;
}


.mainbutton:hover {
  transition: ease 0.3s;
  background-color: #3f3f3f;
  color: #fc6076!important;
  border-color: #3f3f3f!important;
  cursor: pointer;
}

.mainbutton:hover::before {
  transition: ease 0.3s;
  background-color: #fff;
}

.mainbutton:hover::after {
  transition: ease 0.3s;
  background-color: #fff;
}

@media (max-width: 400px) {
    .mainbutton::before {
        display: none;
    }

    .mainbutton::after {
        display: none;
    }
}

